@font-face {
	font-family: Teletoon;
	src: url('../resources/font/TeletoonLowercase-8w0Z.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1em;
	line-height: 1.5;
	background-image: url('../resources/images/background_portrait.png');
}

#game {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}